{% extends '::base.html.twig' %}

{% block title %}Colaboradores{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<h1>Colaboradores</h1>

<a href="{{ url('wpensar_erp_colaborador_cadastrar') }}">Cadastrar</a>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Situação</th>
		</tr>
	</thead>
	<tbody>
	{% for colaborador in colaboradores %}
		<tr>
			<td>{{ colaborador.getId() }}</td>
			<td>{{ colaborador.getNome() }}</td>
			<td>{{ colaborador.getSituacao() }}</td>
			<td><a href="{{ url('wpensar_erp_colaborador_editar', {id: colaborador.getId()}) }}">Editar</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}